{% extends "base.html" %}
{% block content %}

{{ macros.m_button_group([['globalSettingSaveBtn', '설정 저장']])}}
{{ macros.m_row_start('5') }}
{{ macros.m_row_end() }}
{{ macros.m_hr() }}

<form id="setting">
  <h5>NAS 연결</h5>
  {{ macros.setting_input_text('main_nas_ip', 'NAS IP', value=arg['main_nas_ip'], placeholder='192.168.1.xxx') }}
  {{ macros.setting_input_int('main_nas_port', 'SSH Port', value=arg['main_nas_port']) }}
  {{ macros.setting_input_text('main_nas_user', 'SSH User', value=arg['main_nas_user']) }}
  {{ macros.setting_input_text('tmp_main_nas_password', 'SSH Password', value='', type='password', placeholder='변경 시만 입력', desc=['공란이면 기존 비밀번호 유지. 입력 시 암호화되어 저장됩니다.']) }}
  {{ macros.setting_input_text_and_buttons('main_script_path', 'NAS 스크립트 경로', [['ssh_test_btn', 'SSH 테스트']], value=arg['main_script_path'], desc=['파일 1개씩 받는 rclone_move_one.sh. 인자: <filename> <streams> [dest_path]']) }}
  {{ macros.setting_input_text('main_gdrive_remote', '내 드라이브 Remote', value=arg['main_gdrive_remote'], desc=['gds_tool 이 파일을 복사할 대상. 예: GDG:/Downloads']) }}

  {{ macros.m_hr() }}
  <h5>파이프라인 정책</h5>
  {{ macros.setting_input_text('main_max_batch_gb', '동시 in-flight 최대 (GB)', value=arg['main_max_batch_gb'], desc=['내 드라이브에 동시에 존재할 수 있는 파일들의 합계 상한. 여유 용량보다 작게.']) }}
  {{ macros.setting_input_int('main_concurrent_moves', '동시 NAS 이동 수', value=arg['main_concurrent_moves'], desc=['병렬로 돌릴 rclone 개수. NAS CPU/메모리 여유에 맞춰.']) }}
  {{ macros.setting_input_int('main_multi_thread_streams', '파일당 스트림 수', value=arg['main_multi_thread_streams'], desc=['rclone --multi-thread-streams. 큰 파일 1개를 N스트림으로 받음.']) }}
  {{ macros.setting_input_int('main_poll_interval', '도착 polling 간격 (초)', value=arg['main_poll_interval']) }}
  {{ macros.setting_input_int('main_copy_timeout', '파일별 도착 타임아웃 (초)', value=arg['main_copy_timeout']) }}
</form>

<script>
$("body").on('click', '#ssh_test_btn', function(e) {
  e.preventDefault();
  globalSendCommand('test_ssh', '', '', '');
});
$(document).ready(function() {
  $('#ssh_test_btn').attr('type', 'button');
});
</script>
{% endblock %}
